.page-header {
  background-color: $dark-gray;
  background-position: 52% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  margin: 0 auto;
}

.page-header__logo {
  display: block;
}

@media (min-width: $min-desktop-whidth) {
  .page-header {
    background-image: url("../../img/bike-bg-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bike-bg-desktop@2x.webp");
    }
  }

  .page-header__wrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    min-height: 825px;
  }

  .page-header__logo {
    margin-top: 251px;
    margin-left: 145px;
    order: 2;
  }
}

@media screen and (min-width: $min-tablet-whidth) and (max-width: $max-tablet-whidth) {
  .page-header {
    background-image: url("../../img/bike-bg-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bike-bg-tablet@2x.webp");
    }
  }

  .page-header__wrapper {
    min-height: 320px;
  }

  .page-header__logo {
    margin-top: 20px;
    margin-left: 21px;
  }
}

@media screen and (min-width: $min-mobile-whidth) and (max-width: $max-mobile-whidth) {
  .page-header {
    background-image: url("../../img/bike-bg-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bike-bg-mobile@2x.webp");
    }
  }

  .page-header__wrapper {
    min-height: 370px;
  }

  .page-header__logo {
    margin-top: 20px;
    margin-left: 16px;
  }
}
