.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-stack;
  font-size: 22px;
  line-height: 34px;
  scroll-behavior: smooth;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $black;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
