.page-header__wrapper {
  margin: 0 auto;
}

@media (min-width: $min-desktop-whidth) {
  .page-header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 879px;
    max-height: 69px;
  }
}
