.promo {
  background-color: $dark-gray;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 130px;
}

.promo__title {
  margin: 0;
  padding-top: 121px;
  padding-bottom: 19px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
}

.promo__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white;
  opacity: 0.7;
  max-width: 340px;
  margin: 0 auto;
}

.promo__video {
  width: 929px;
  height: 522;
  margin: 0 auto;
  margin-top: 56px;
}

.promo__button {
  position: relative;
  padding: 0;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: $turquoise;
  margin: -292px auto 0;
  z-index: 1;

  &:active {
    opacity: 0.7;
  }
}

.promo__button::after {
  position: absolute;
  content: "";
  top: 22px;
  left: 28px;
  border-top: 10px solid transparent;
  border-left: 14px solid $black;
  border-bottom: 10px solid transparent;
}

@media screen and (min-width: $min-tablet-whidth) and (max-width: $max-tablet-whidth) {
  .promo__wrapper {
    padding-bottom: 11px;
  }

  .promo__title {
    font-size: 24px;
    line-height: 30px;
    padding-top: 70px;
  }

  .promo__text {
    max-width: 439px;
  }

  .promo__video {
    width: 503px;
    height: 282px;
    margin-top: 40px;
  }

  .promo__button {
    width: 90px;
    height: 90px;
    margin-top: -185px;
  }

  .promo__button svg {
    width: 18px;
    height: 25px;
  }
}

@media screen and (min-width: $min-mobile-whidth) and (max-width: $max-mobile-whidth) {
  .promo__wrapper {
    padding-bottom: 0;
  }

  .promo__title {
    font-size: 24px;
    line-height: 30px;
    padding-top: 84px;
  }

  .promo__text {
    max-width: 289px;
  }

  .promo__video {
    width: 288px;
    height: 162px;
    margin-top: 54px;
  }

  .promo__button {
    margin-top: -114px;
  }
}
