// Font

$font-stack: 'Open Sans', 'Arial', sans-serif;

// Colors

$white: #ffffff;
$black: #000000;
$light-black: #1f1f1f;
$dark-gray: #131314;
$gray: #f6f7f9;
$border-gray: #c9ccd4;
$turquoise: #0ad9c6;
